<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC927xw0Kq54TDl73O8QBKw0fA12KDv_oI</string>
	<key>GCM_SENDER_ID</key>
	<string>541999939039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aquaboost</string>
	<key>PROJECT_ID</key>
	<string>aqua-boost</string>
	<key>STORAGE_BUCKET</key>
	<string>aqua-boost.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541999939039:ios:f1b3190dbacaf73269d86a</string>
</dict>
</plist>